@import "bootstrap";
@import 'jscrollpane';
body {

  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}

#main_content {
    margin-top: 60px;
  }
#wrapper {

  margin: 0 auto;
  position: relative;
  min-height: 100%;
  height: auto !important;
  width: 100%;
  cursor: default;

  .container-fluid {
    margin-top: 10px;
    margin-left: 10px;
    border-top: 1px solid #d5d5d5;

  }

  .span2{
    margin-top: 50px;
    font-weight: bold;

  }
  .span10 {
    width: 82.97872%;
    margin-top: 10px;

  }
}
#header {
  position: relative;
  z-index: 9999;
  height: 120px;
  margin: 0 0 0 0;


.logo-img{
    width:1000px;
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
}
  }

  footer {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    border-top: 1px solid #d5d5d5;
    margin-top: 60px;
.main{
  margin-top: 15px;


    }
    small {
      font-size: 11px;
      color: #999999;

    }
  }
#table1 {
  margin-top: 70px;


}


